download_ufs/*
UFS_metrics/FullArea_ERA5_GPH100.p
UFS_metrics/FullArea_ERA5_GPHanoms100.p
UFS_metrics/FullArea_UFS_GPH100.p
UFS_metrics/FullArea_UFS_GPHanoms100.p
UFS_metrics/CAP_ERA5_GPH100.p
UFS_metrics/CAP_ERA5_GPHanoms100.p
UFS_metrics/CAP_UFS_GPH100.p
UFS_metrics/CAP_UFS_GPHanoms100.p
era5/1959anom_capGPH100.p
era5/1959composite_capGPH100.p
era5/1959_gphNA_2deg_100.p
